table {
  
  text-align: center;
  background: Darkkhaki;
  width: 35%;
  padding: 15px;
  margin: 5px;
  
}

tr, td {
  border:1px solid black;
  text-align: center;
  background:Darkkhaki;
  padding: 8px;
  margin: 5px;
  
}
.btn{
  background-color: gray;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.inp{
  background-color: lightgray;
}
.sp{
  color: red;
}